<div class="new-content">
	<div class="row">
		<div class="col-md-12">
			<a href="/"><button class="btn btn-default" >Volver</button></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
	    	<div class="col-md-6 btn-select-ingreso" (click)="verificarCargaContent('ingreso')">
	        	<span>INGRESO</span>
	        </div>
	        <div class="col-md-6 btn-select-gasto" (click)="verificarCargaContent('gasto')">
	        	<span>GASTO</span>
	        </div>
	    </div>
	</div>
	<form #formContents="ngForm" (ngSubmit)="onSubmit()">
	<div id="gasto">
		<h4 class="modal-title">Registrar {{title}}</h4>
		<div class="row">
	    	<div class="col-md-6">
	        	<div class="form-group">
	            	<label>Nombre</label>
	                <input type="text" class="form-control" name="name_content" #name_content="ngModel" [(ngModel)]="content_new.name_content" >
	            </div>
	            <div class="form-group">
					<label>Monto</label>
					<input type="text" class="form-control" name="amount" #amount="ngModel" [(ngModel)]="content_new.amount">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Fecha</label>
					<input type="date" class="form-control" name="date" #date="ngModel" [(ngModel)]="content_new.date">
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<label>Sub-Categoría</label>
					<select class="form-control" name="category" #category="ngModel" [(ngModel)]="content_new.category">
						<option value="0" selected>Seleccionar sub-categoría</option>
						<option *ngFor="let s of subcategories" value="{{s.name_subcategory}}">{{s.name_subcategory}}</option>
					</select>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group">
					<label></label>
					<button data-toggle="modal" data-target="#modal-new-subcategory">+</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Categoría</label>
					<select class="form-control" name="category_father" #category_father="ngModel" [(ngModel)]="content_new.category_father" (change)="getCategoryByFather(content_new.category_father)">
						<option value="0" selected>Seleccionar categoría</option>
						<option *ngFor="let c of categories" value="{{c.name_category}}">{{c.name_category}}</option>
					</select>
				</div>
			</div>
		</div>

		<div id="ingreso">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Moneda</label>
						<select class="form-control" name="coin" #coin="ngModel" [(ngModel)]="content_new.coin">
							<option value="1" selected>Seleccionar moneda</option>
							<option *ngFor="let c of coins" value="{{c.name_coin}}">{{c.name_coin}}</option>
						</select>
					</div>
					<div class="form-group">
						<label>Forma de Pago</label>
						<select class="form-control" name="payment" #payment="ngModel" [(ngModel)]="content_new.payment" (change)="obtenerCard(content_new.payment)">
							<option value="0" selected>Seleccionar Forma de Pago</option>
							<option *ngFor="let p of payments" value="{{p.name_payment}}">{{p.name_payment}}</option>
						</select>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label>Tarjeta</label>
						<select class="form-control" name="card" #card="ngModel" [(ngModel)]="content_new.card">
							<option value="0" selected>Seleccionar tarjeta</option>
							<option *ngFor="let c of cards" value="{{c.name_card}}">{{c.name_card}}</option>
						</select>
					</div>
					<div class="form-group">
						<label>Cuotas</label>
						<input type="number" class="form-control" name="total_dues" #total_dues="ngModel" [(ngModel)]="content_new.total_dues"> 
					</div>
				</div>
			</div>
		</div>                          
	</div>

	<div class="row col-md-12 botonera-form">
		<div class="col-md-6">
			<button type="button" class="btn btn-default pull-left">Close</button>
		</div>
		<div class="col-md-6">
			<button type="submit" class="btn btn-default" data-toggle="modal" data-target="#modal-confirmacion-new-content">Save</button>
		</div>
	</div>

	</form>
</div>

<!-- Modal #modal-confirmacion-new-content -->
<div class="modal fade" id="modal-confirmacion-new-content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccione una opción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>El contenido se guardó exitosamente. ¿Desea ingresar un nuevo contenido?</p>
      </div>
      <div class="modal-footer">
        <a href="/"><button type="button" class="btn btn-secondary">CANCELAR</button></a>
        <a href="new-content"><button type="button" class="btn btn-primary">ACEPTAR</button></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal #modal-new-subcategory -->
<div class="modal fade" id="modal-new-subcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Subcategoría</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
	    	<div class="col-md-6">
	        	<div class="form-group">
	            	<label>Nombre</label>
	                <input type="text" class="form-control" name="name_subcategory" #name_content="ngModel" [(ngModel)]="subcategory_new.name_subcategory" >
	            </div>
	            <div class="form-group">
					<label>Categoría</label>
					<select class="form-control" name="category" #card="ngModel" [(ngModel)]="subcategory_new.category">
						<option value="0" selected>Seleccionar categoría</option>
						<option *ngFor="let c of categories" value="{{c.name_category}}">{{c.name_category}}</option>
					</select>
				</div>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
        <button type="button" class="btn btn-primary" (click)="saveSubcategory()" data-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>